In [45]:
from datetime import datetime


# if you encounter a "year is out of range" error the timestamp
# may be in milliseconds, try `ts /= 1000` in that case
print()



import pandas as pd
import urllib.request
import json

city="London"
WeatherURL="https://api.openweathermap.org/data/2.5/onecall?lat=37&lon=126&%20exclude=daily}&appid=29d777fbaf28d5c379faaea977ec3ad4"
WeatherPage=urllib.request.urlopen(WeatherURL)
WeatherData=json.loads(WeatherPage.read().decode("utf8"),encoding="utf8")

#WeatherData["daily"][0]["weather"][0]["main"]

WeatherDF = pd.DataFrame()
WeatherDF_temp = pd.DataFrame()
WeatherDF_temp = WeatherDF_temp.append({city:"","date":""},ignore_index=True)

# temp_movcd_idx=movieDOF_temp.columns.get_loc("movieCd")


num=len(WeatherData["daily"])
num


for i in range(0,num):
    WeatherDF_temp.at[0,city]=WeatherData["daily"][i]["weather"][0]["main"]
    ts = int(WeatherData["daily"][i]["dt"])
    ts= datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d')
    WeatherDF_temp.at[0,"date"]=ts
#     movieDOF_temp.iat[0,temp_movNm_idx]=movieData["movieListResult"]["movieList"][i]["movieNm"]
#     movieDOF_temp.iat[0,temp_movNmEn_idx]=movieData["movieListResult"]["movieList"][i]["movieCd"]
#     movieDOF_temp.iat[0,temp_movdt_idx]=movieData["movieListResult"]["movieList"][i]["openDt"]
#     if movieData["movieListResult"]["movieList"][i]["directors"] !=[]:
#         movieDOF_temp.iat[0,temp_movdir_idx]=movieData["movieListResult"]["movieList"][i]["directors"][0]["peopleNm"]
#     else:
#         pass
    WeatherDF=WeatherDF.append(WeatherDF_temp, ignore_index=True)
    
    for j in range(0,len(WeatherDF_temp.columns)):
        WeatherDF_temp.iat[0,j]=""
        

        
# # 컬럼 추가하기
# movieDOF["year"] = movieDOF["openDt"].apply(lambda x: str(x)[:4])
# movieDOF["month"] = movieDOF["openDt"].apply(lambda x: str(x)[4:6])
# movieDOF["day"] = movieDOF["openDt"].apply(lambda x: str(x)[6:])

# # 정렬하기
# movieDOF=movieDOF.sort_values(by="openDt")
# movieDOF=movieDOF.set_index(movieDOF.columns[1])


# col_list=["openDt","year","month","day","movieNm","movieNmEn","directorpeopleNm"]
# movieDOF = movieDOF.loc[:,col_list]
WeatherDF

   London        date
0  Clouds  2020-07-06
1   Clear  2020-07-07
2   Clear  2020-07-08
3   Clear  2020-07-09
4    Rain  2020-07-10
5    Rain  2020-07-11
6    Rain  2020-07-12
7    Rain  2020-07-13

In [47]:
import pandas as pd
file = pd.read_csv('report (2).txt', delimiter = '\t')
file

,기간,지역,월별,발생,발생.1,발생.2,발생.3,소실,소실.1,소실.2,피해액,피해액.1,피해액.2,재산피해경감액,인명피해,인명피해.1,인명피해.2,이재민수,구조인원
0,기간,지역,월별,합계,실화,방화,기타,동수,이재가구수,면적,합계,부동산,동산,재산피해경감액,합계,사망,부상,이재민수,구조인원
1,2019,합계,계,"5,881","5,251",136,494,773,171,"32,220.91","92,409,010","12,331,390","80,077,620","384,176,624",398,37,361,318,921
2,2019,합계,1월,600,529,19,52,98,40,"2,571.53","1,766,805","580,112","1,186,693","23,900,245",42,4,38,64,143
3,2019,합계,2월,414,360,14,40,62,16,"1,485.3","1,545,133","403,239","1,141,894","32,910,244",26,4,22,19,61
4,2019,합계,3월,501,448,11,42,85,-,"6,851.01","4,829,698","1,613,428","3,216,270","24,434,210",28,2,26,5,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,2019,강동구,8월,29,27,-,2,3,-,156,"78,627","15,910","62,717","582,465",-,-,-,-,3
335,2019,강동구,9월,21,19,-,2,1,-,20,"18,302","1,012","17,290","17,637",1,-,1,-,1
336,2019,강동구,10월,20,18,-,2,1,-,1,"65,494","1,353","64,141","1,233,925",3,-,3,-,-
337,2019,강동구,11월,17,15,1,1,-,-,2,"2,932",885,"2,047","176,811",-,-,-,-,-
338,2019,강동구,12월,16,12,-,4,3,-,144,"56,347","34,954","21,393","120,422",-,-,-,-,-